@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Original Six NHL Teams for the 2015/2016 Season</h1>
    <p class="lead">Original Six Team Managers</p>
    
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Players</h2>
        <p> With players, you are able to look up details, add your favourite pictures of them and even trade them to other teams! 
            Players can be traded freely but deleting one from a team will be only allowed by the manager; which implements authorization and login credentials.
        </p>
    </div>

    <div class="col-md-3">
        <h2>Teams</h2>
        <p>
            All players currently on team will be displayed in the detail section for that specific team. You are able to manage these teams as you see fit and can 
            embark on a trade with other teams. You will be able to see the stats for the teams season as well!
        </p>
    </div>

    <div class="col-md-3">
        <h2> Coaches </h2>
        <p>
            Coaches allows you to make new coaches, delete ones you no longer want or edit existing. Adding a photo to a coach is also supported, so get your favourite and upload it!
            All stats for coaches are accurate to the half-way point of the 2015/2016 Season.
        </p>
    </div>

    <hr />
    <div class="container">
        <h2>Programming Software USed: </h2>
            <ul>
                <li>Loading bulk data.</li>
                <li>Using Ajax.</li>
                <li>Using Javascript.</li>
                <li>C#</li>
                <li>My SQL</li>
            </ul>
    </div>
</div>